  *{
      margin: 0;
      padding: 0;
  }
.positione {
  position: sticky;
  top: 0;
  background-color: #0d0e12;
  padding: 50px;
  font-size: 20px;  
}

.main .image {
  height: 300px;
  width: 100%;
}

.main .image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.navbar a {
  text-decoration: none;
  color: black;
  padding-left: 10px;

}


.main .cart a {
  padding: 7px 15px !important;
  background-color: brown;
  color: white;
  text-decoration: none;
  border: 0;
  margin: 5px;
}

.image-main>.img {
  width: 100%;
  height: 400px !important;
}

.img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* =====  main Componenets button  ==== */

.addcart {
  padding: 10px 70px;
  border: 0;
  margin: 10px;
  background-color: yellowgreen;
  color: white;
}

.cart-red {
  background-color: red !important;
}

.box-main h2 span {
  text-decoration: line-through !important;
}

.box-1 p {
  font-size: 14px;
  text-align: center;
}

.box-1 {
  text-align: center;
}

.images {
  height: 150px;
  width: 150px;
  margin: 10px;
}

.images img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.loader {
  width: 108px;
  height: 16px;
  background:
    radial-gradient(circle 8px at 8px center, #FFF 100%, transparent 0),
    radial-gradient(circle 8px at 8px center, #FFF 100%, transparent 0);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  position: relative;
  animation: ballX 1s linear infinite;
}

.loader:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #FFF;
  inset: 0;
  margin: auto;
  animation: moveX 1s cubic-bezier(0.5, 300, 0.5, -300) infinite;
}

@keyframes ballX {

  0%,
  25%,
  50%,
  75%,
  100% {
    background-position: 25% 0, 75% 0
  }

  40% {
    background-position: 25% 0, 85% 0
  }

  90% {
    background-position: 15% 0, 75% 0
  }
}

@keyframes moveX {
  100% {
    transform: translate(0.15px)
  }
}

.load {
  height: 100vh;
  width: 100%;
  background-color: #263038;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-user {
  height: 30px;
  width: 30px;
}

.img-user img {
  height: 100%;
  width: 100%;
}

/* =========== cart item ========== */

.image-cart img {
  height: 160px;
  width: 160px;
}

/* ============= navbar cart ======= */

.navbar a span {
  padding: 3px;
  font-size: 15px;
}


/* ========= Media Queries=========== */

@media only screen and (max-width: 600px) {
  .images {
    height: 100px;
    width: 100px;
    margin: 10px;
  }
  .addcart {
    padding: 10px 150px;
    font-size: 12px;
    border: 0;
    margin: 10px;
    background-color: yellowgreen;
    color: white;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}